@import 'tailwindcss';

@font-face {
  font-family: 'Satisfy';
  src: url('/fonts/satisfy.ttf');
}

@utility font-satisfy {
  font-family: 'Satisfy';
}

html,
body,
#root {
  @apply fixed inset-0 overflow-hidden bg-black touch-pan-y overscroll-none;
}
